pkgbase = henkan-bin
	pkgdesc = osu!mania to Etterna and StepMania converter (desktop and CLI)
	pkgver = 1.8.2
	pkgrel = 1
	url = https://github.com/kaanreal/henkan
	arch = x86_64
	license = MIT
	provides = henkan
	conflicts = henkan
	options = !strip
	source = Henkan-1.8.2.AppImage::https://github.com/kaanreal/henkan/releases/download/v1.8.2/Henkan-v1.8.2-linux.AppImage
	source = LICENSE
	sha256sums = 5c31b42554082e30c4f02d26e470328a02cad89783970c32178e03a821df74dc
	sha256sums = ccaccd972ac49ea3ce4f6ca62056b2532631839bf5c92b6c2adc797d597de78b

pkgname = henkan-bin
