pkgbase = henkan-bin
	pkgdesc = osu!mania to Etterna and StepMania converter (desktop and CLI)
	pkgver = 1.6.1
	pkgrel = 1
	url = https://github.com/kaanreal/henkan
	arch = x86_64
	license = MIT
	provides = henkan
	conflicts = henkan
	options = !strip
	source = Henkan-1.6.1.AppImage::https://github.com/kaanreal/henkan/releases/download/v1.6.1/Henkan-v1.6.1-linux.AppImage
	source = LICENSE
	sha256sums = 4f7cceb9233c75a4455b723f91520346e187a34d803fe167f5ac56acd8b9e1c4
	sha256sums = ccaccd972ac49ea3ce4f6ca62056b2532631839bf5c92b6c2adc797d597de78b

pkgname = henkan-bin
